{% extends 'base.html' %}

{% block title %}Vota{% endblock %}

{% block content %}
<div class="container">
    <h1> {{ question }} </h1>
    {% if error_message %}
    <div class="alert">
        <p class="text-danger">{{ error_message }}</p>
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for c in question.choice_set.all %}
        <input type="radio" name="choice" id="choice_{{ c.id }}" value="{{ c.id }}">
        <label for="choice_{{ c.id }}">{{ c.choice_text }}</label>
        <br>
        {% endfor %}
        <input type="submit" value="Votar" class="btn btn-outline-success">
    </form>
</div>
{% endblock %}
